#showsInfo {
    overflow-y: scroll;
    margin: 50px 0 50px 0;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#showsInfo div {width: 150px}
.indent {margin-left: 10px}

#showsInfo div p {
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: left;
    line-height: 0
}
#showsInfo div p a {
    text-decoration: none;
    color: inherit
}

@media only screen and (max-width: 600px){
    #showsInfo div {justify-content: center;}

    #showsInfo div p {text-align: center}
}