#storyInfo {
    overflow-y: scroll;
    margin: 50px 0 50px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#storyInfo p {
    width: 60%;
    height: min-content;
    overflow-y: scroll;
    font-size: 20px;
    text-align: justify;
    line-height: 2;
    margin: 0
}

@media only screen and (max-width: 600px) {
    #storyInfo p {width: 98%}
}